*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3, p{
    padding: 12px;
}

.iconeplay{
    width: 45px;
    margin-right: 8px;
    
}

.cabecalho{
    display: flex;
    align-items: center; 
         
}
header{
    display: flex;
    background-color: orange ;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}
footer{
    background-color: orange;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{

    justify-content: space-around;
    gap: 16px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}


.video{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px darkgray;
    text-align: center;

}

@media screen and (max-device-width: 500px) {
   main{
       display: flex;
       flex-direction: column;
   } 
    
}

.cardvideo{
    width: 100%;
  
}

